<%- include("partials/header.ejs") %>

<h1>Home</h1>
<p><%= intialContant %></p>
<% content.forEach(element => { %>

<h2><%= element.title %></h2>

<p>
  <%= element.post.substring(0,100) + " ... " %><a href="/posts/<%= element.title %>" >Read More</a>
</p>

<% }) %> <%- include("partials/footer.ejs") %>
